cloud.nomnomdrive.com {
    reverse_proxy localhost:3030
}

nomnomdrive.com {
    handle /favicon.ico {
        redir https://cloud.nomnomdrive.com/favicon.ico 302
    }
    handle /icon.svg {
        redir https://cloud.nomnomdrive.com/icon.svg 302
    }
    respond "Coming soon" 200
}
