cloud.nomnomdrive.com {
    reverse_proxy localhost:3030
}

nomnomdrive.com {
    handle /favicon.ico {
        reverse_proxy localhost:3030
    }
    handle /icon.svg {
        reverse_proxy localhost:3030
    }
    handle {
        respond "Coming soon" 200
    }
}
